### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Sphinx documentation
/docs/_build/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
